/* Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom CSS */

/* Global Styles */

body {
  font-size: 16px;
  font-family: 'Roboto', Helvetica, serif;
  box-sizing: border-box;
}

#sample-work-link {
  position: absolute;
  right: 15px;
  top: 30px;
}

#sample-work-link a {
  color: #733951;
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  border: 2px solid #733951;
}

#sample-work-link a:hover {
  color: #ffffff;
  background: #733951;
  transition: 0.3s linear;
}

#container {
  width: 100vw;
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px 0 25px 0;
}

/* Main Profile */

#profile {
  margin-top: 20px;
}

#profile-photo {
  text-align: center;
}

#profile-photo img {
  border-radius: 25%;
}

#border {
  border: 5px solid #733951;
  height: 215px;
  width: 215px;
  border-radius: 20%;
  margin: 0 auto;
  padding: 15px;
}

#description {
  text-align: justify;
  width: 100vw;
  max-width: 960px;
  margin: 0 auto;
  margin-top: 25px;
}

h1 {
  color: #333;
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
}

h2 {
  color: #444;
  font-weight: 300;
  margin-top: 20px;
  font-size: 1.5em;
  text-align: center;

}

p {
  color: #333;
  margin: 25px 0 10px 0;
  letter-spacing: 1px;
  line-height: 1.5em;
  padding: 0 35px;
}

#body {
  border-top: 5px solid #733951;
  border-bottom: 5px solid #733951;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#body h3 {
  color: #733951;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.work {
  display: flex;
  justify-content: space-around;
}

.columns {
  position: relative;
  width: 50%;
  border: 3px solid #733951;
  margin: 0 10px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #ffffff;
}

.columns:hover .overlay {
  opacity: 0.9;
}

.text {
  color: #733951;
  font-size: 1em;
  line-height: 1.2em;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
  -ms-transform: translate(-50%, -30%);
  transform: translate(-50%, -30%);
  text-align: center;
}

.link-work {
  font-size: 1em;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -80%);
  -ms-transform: translate(-50%, -80%);
  transform: translate(-50%, -80%);
  text-align: center;
}

.link-work a {
  color: #733951;
  text-decoration: none;
  border: 1px solid #733951;
  border-radius: 10%;
  padding: 5px 15px;
}

#bold {
  font-weight: bold;
}

hr {
  border: none;
  border-top: 5px solid #733951;
  color: #733951;
  text-align: center;
  height: 5px;
  margin-top: 30px;
}

/* Links */

#links {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  max-width: 960px;
}

#links a {
  color: #733951;
  display: inline-block;
  margin: 0 24px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}

#links a:hover {
  color: #333;
  transition: 250ms ease-in;
}

/* Animations */

#profile-photo,
#icons,
#links,
span,
h1,
h2,
.work {
  animation: fadein 3s;
}

#border {
  animation: bRadius 3s ease-in-out;
}

#avatar {
  animation: fadeInDown 1s;
}

#description {
  animation: fadeInUp 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes bRadius {
  from {
    border-radius: 0;
  }

  to {
    border-radius: 20%;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Responsive Design */

/* Mobile Styles */
@media only screen and (max-width: 400px) {

  #avatar {
    margin-top: 65px;
  }

  #sample-work-link a {
    font-size: 1em;
  }

  #profile-photo img,
  #border {
    display: block;
    width: 150px;
    height: 150px;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    margin-top: 10px;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0 8px;
  }

  p {
    font-size: 14px;
  }

  .work {
    flex-direction: column;
  }

  .columns {
    width: 90%;
    display: block;
    margin: 20px auto;
  }

  #links a {
    display: flex;
    align-items: center;
    margin: 20px;
    margin-left: 10vw;
    font-size: 16px;
  }

  #links i {
    padding-right: 10px;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {

  #profile-photo img,
  #border {
    display: block;
    width: 175px;
    height: 175px;
  }

  #avatar {
    margin-top: 65px;
  }

  #sample-work-link a {
    font-size: 0.8em;
  }

  h1 {
    font-size: 2em;

  }

  h2 {
    margin-top: 15px;
    font-size: 1.3em;
    line-height: 1.5em;
    padding: 0 8px;
  }

  p {
    font-size: 14px;
  }

  .work {
    flex-direction: column;
  }

  .columns {
    width: 90%;
    display: block;
    margin: 20px auto;
  }

  #links a {
    display: flex;
    align-items: center;
    margin: 20px;
    margin-left: 10vw;
    font-size: 16px;
  }

  #links i {
    padding-right: 10px;
  }
}